@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');

@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

.bangla {
  font-family: 'Anek Bangla', sans-serif;
}

.justifycenter {
  text-align: justify;
  text-align-last: center;
}

.slide-from-left {
  animation: slideFromLeft 2s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}